@font-face {
  font-family: 'Eczar';
  src: url('fonts/eczar.woff2') format('woff2'),
       url('fonts/eczar.woff') format('woff');
}

:root {
  --font-family-eczar: 'Eczar', sans-serif;
  --font-family-inter: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  background: linear-gradient(
    170deg,
    #ffc2fa 0%,
    #ffc2fa 40%,
    white 40%,
    white 100%
  );
}

.main-1 {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
}

@keyframes fadeIn {
      0% {
        opacity: 0; /* Элемент полностью прозрачный в начале */
        transform: translateY(20px); /* Смещён вниз на 20px */
      }
      100% {
        opacity: 1; /* Полностью видимый */
        transform: translateY(0); /* Возвращается на своё место */
      }
    }

.text-3 {
  animation: fadeIn 2s ease-out;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 750;
  color: #383838;
  margin-bottom: 1px;
}

.text-4 {
  animation: fadeIn 2s ease-out;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #5c5c5c;
  margin-top: 12px;
  margin-bottom: 30px;
}

.image-wrapper {
  animation: fadeIn 2s ease-out;
  display: flex;
  justify-content: center;
}

.image-love {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 475px;

  shadow:
    0 20px 40px rgba(0,0,0,0.35);
}

@media (max-width: 768px) {
  .text-3 {
    font-size: 20px;
  }

  .text-4 {
    font-size: 16px;
  }
}